/* @font-face {
  font-family: "AlfaSlabOne-Regular";
  src: url(./Clonewebsite/AlfaSlabOne-Regular.ttf);
}
.squad {
  font-family: "AlfaSlabOne-Regular";
} */
@font-face {
  font-family: "SpaceGrotesk-Light";
  src: url(./Clonewebsite/SpaceGrotesk-Light.ttf);
}
.bold {
  font-family: "SpaceGrotesk-Light";
}
@font-face {
  font-family: "Cairo-VariableFont_slnt,wght";
  src: url(./Clonewebsite/Cairo-VariableFont_slnt\,wght.ttf);
}
.nav {
  font-family: "Cairo-VariableFont_slnt,wght";
}
@font-face {
  font-family: "Anton-Regular";
  src: url(./Clonewebsite/Anton-Regular.ttf);
}
.head {
  font-family: "Anton-Regular";
}

.slick-slider .slick-arrow::before {
  color: black;
  font-size: 1.8rem;
}

.slick-slider .slick-dots button::before {
  font-size: 0.5rem;
  margin-top: -220px;
 /*  margin-left: 400px; */
 color: black;
}

/*infinite scroll*/
.scroll {
  animation: right 10s linear infinite;
}

@keyframes right {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
